body {
	position: relative;
}
header {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 100;
}
.bg-header-images-top {
	background-color: rgba(0, 0, 0, 0.7);
}
.bg-header-images-top > img {
	height: 30px;
}
.bg-header-images-top > img:nth-child(3) {
	height: 100px;
}
.navbar {
	background-color: rgba(0, 0, 0, 0.7);
}
.navbar-list > li > a {
	color: #ffffff;
	text-decoration: none;
}
.navbar-list > li > a:hover {
	padding-bottom: 10px;
	border-bottom: 2px solid #ffffff;
}
.jumbotron > .sliders-container > img {
	width: 100%;
	height: 90vh;
	object-fit: cover;
	object-position: bottom;
}
.jumbotron .active {
	display: inline;
}
.sliders-container {
	position: relative;
}
.navigator .prev-arrow {
	position: absolute;
	top: 45%;
	left: 2%;
}
.navigator .prev-arrow,
.navigator .next-arrow {
	border: 4px solid #ffffff;
	padding: 15px;
	border-radius: 50%;
	cursor: pointer;
	user-select: none;
}
.navigator .prev-arrow:hover,
.navigator .next-arrow:hover {
	background-color: rgba(0, 0, 0, 0.7);
}

.navigator .next-arrow {
	position: absolute;
	top: 45%;
	right: 2%;
}
.prev-arrow > img,
.next-arrow > img {
	height: 30px;
}
/* Testo al centro */
.slider-text {
	position: absolute;
	left: 50%;
	top: 60%;
	transform: translate(-50%, -50%);
	font-weight: bold;
	font-size: 1.5rem;

	color: #ffffff;
}
.slider-text > h1 {
	font-size: 5.2rem;
	font-weight: bold;
}
.button-jumbo > a {
	text-decoration: none;
	color: #ffffff;
	border: 2px solid #ffffff;
	font-size: 30px;
}
