body {
	position: relative;
}
header {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 100;
}
.bg-header-images-top {
	background-color: rgba(0, 0, 0, 0.7);
}
.bg-header-images-top > img {
	height: 30px;
}
.bg-header-images-top > img:nth-child(3) {
	height: 100px;
}
.navbar {
	background-color: rgba(0, 0, 0, 0.7);
}
.navbar-list > li > a {
	color: #ffffff;
	text-decoration: none;
}
.navbar-list > li > a:hover {
	padding-bottom: 10px;
	border-bottom: 2px solid #ffffff;
}
.jumbotron > .sliders-container > img {
	width: 100%;
	height: 100vh;
	object-fit: cover;
	object-position: bottom;
}
.jumbotron .active {
	display: inline;
}
.sliders-container {
	position: relative;
}
.navigator .prev-arrow {
	position: absolute;
	top: 45%;
	left: 2%;
}
.navigator .prev-arrow,
.navigator .next-arrow {
	border: 4px solid #ffffff;
	padding: 15px;
	border-radius: 50%;
	cursor: pointer;
	user-select: none;
}
.navigator .prev-arrow:hover,
.navigator .next-arrow:hover {
	background-color: rgba(0, 0, 0, 0.7);
}

.navigator .next-arrow {
	position: absolute;
	top: 45%;
	right: 2%;
}
.prev-arrow > img,
.next-arrow > img {
	height: 30px;
}
/* Testo al centro */
.slider-text {
	position: absolute;
	left: 50%;
	top: 60%;
	transform: translate(-50%, -50%);
	font-weight: bold;
	font-size: 1.5rem;

	color: #ffffff;
}
.slider-text > h1 {
	font-size: 5.2rem;
	font-weight: bold;
}
.button-jumbo > a {
	text-decoration: none;
	color: #ffffff;
	border: 2px solid #ffffff;
	font-size: 30px;
}
.button-jumbo > a:hover {
	background-color: rgba(0, 0, 0, 0.7);
}
/* instanbul-vs-united */
.instanbul-vs-united .vs-text {
	font-size: 4.3rem;
}
.instanbul-vs-united .button-match-details > a {
	text-decoration: none;
	color: #ffffff;
	background-color: #000000;
	padding: 20px 40px;
}
/* upcoming-matchs */
.upcoming-matchs {
	background-image: url("../img/assets/saha.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
}
.upcoming-matchs .vs-text {
	font-size: 4.3rem;
}
.upcoming-matchs .images-vs {
	background-color: rgba(0, 0, 0, 0.3);
	width: 60%;
	margin: 0 auto;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}
.upcoming-matchs .date-vs {
	background-color: rgba(0, 0, 0, 0.6);
	width: 60%;
	margin: 0 auto;
}
/* players-section */
.players-section {
	background-image: url("../img/assets/player.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
}
.players-section .player-desc {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: #000000;
	width: 100%;
}
.container-personal {
	max-width: 90%;
	margin: 0 auto;
}
.players-section .card-pers {
	position: relative;
}
.players-section .button > a {
	text-decoration: none;
	color: #ffffff;
	background-color: #000000;
	padding: 30px 40px;
	border: 2px solid #ffffff;
}
.players-section .button > a:hover {
	background-color: rgba(0, 0, 0, 0.7);
}
.players-section .button {
	padding: 60px 0 100px 0;
}
.players-section .button:hover {
	padding: 60px 0 100px 0;
}
